<app-sidebar></app-sidebar>
<app-topbar-orcamentos [pastaAtualId]="pastaAtualId"></app-topbar-orcamentos>

<nav class="breadcrumb">
  <ul>
    <li *ngFor="let pasta of caminhoPastas; let i = index">
      <span (click)="abrirPasta(pasta.id, pasta.nome)" style="cursor: pointer;">{{ pasta.nome }}</span>
      <span *ngIf="i < caminhoPastas.length - 1"> / </span>
    </li>
  </ul>
</nav>


<div class="secao-pastas">
  <h2 class="titulo-decorado">📁 Pastas</h2>
  <ul>
    <li *ngFor="let pasta of pastas">
      📁
      <span (click)="abrirPasta(pasta.id, pasta.nome)" style="cursor: pointer;">
        {{ pasta.nome }}
      </span>
      <button (click)="deletarPasta(pasta.id)">Excluir</button>
    </li>
  </ul>
</div>


<div class="secao-orcamentos">
  <h2 class="titulo-decorado">📄 Orçamentos</h2>
  <ul>
    <li *ngFor="let orcamento of orcamentos">
      📄 <span (click)="abrirOrcamento(orcamento.id)" style="cursor: pointer;">{{ orcamento.nome }}</span>
      <button (click)="deletarOrcamento(orcamento.id)">Excluir</button>
    </li>
  </ul>
</div>

