<app-sidebar></app-sidebar>

<title>Relatório de Insumos</title>
<div class="relatorio-container">
  <h1>Relatório de Insumos</h1>

  <div class="filtro-relatorio">
    <h2>Filtro de Relatório</h2>

    <div class="campo">
      <label for="medidaCalculo">Calcular:</label>
      <select id="medidaCalculo">
        <option value="">Escolha a medida</option>
      </select>
    </div>
    <div class="campo">
      <label for="medida">Medida:</label>
      <select id="medida">
        <option value="">Selecione</option>
      </select>
    </div>

    <div class="campo">
      <label for="tipoPesquisa">Tipo de Pesquisa:</label>
      <input type="text" id="tipoPesquisa" placeholder="Ex: Por descrição">
    </div>

    <div class="campo">
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" placeholder="Descrição do item">
    </div>

    <div class="campo">
      <label for="termoPesquisa">Termo de Pesquisa:</label>
      <input type="text" id="termoPesquisa" placeholder="Digite o termo">
    </div>

    <div class="campo">
      <label>Selecione os insumos:</label>
      <div class="checkbox-list">
        <label><input type="teste"></label>

      </div>
    </div>
    <div class="botoes">
      <button class="btn-gerar">Gerar Relatório</button>
      <button class="btn-limpar">Limpar Pesquisa</button>
    </div>
  </div>
</div>
