/* You can add global styles to this file, and also import other style files */
:root{
  --body-color: #E4E9F7;
  --sidebar-color: rgb(0, 0, 0);
  --primary-color: rgb(255, 255, 255);
  --primary-color-light: rgba(0, 0, 0, 0.76);
  --toggle-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body.dark{
  --body-color: rgb(0, 0, 0);
  --sidebar-color: rgb(13, 43, 145);
  --primary-color: rgb(255, 255, 100);
  --primary-color-light: #3A3B3;
  --toggle-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
}
